SECONDME_CLIENT_ID=fa9db4c3-09e6-4ac9-86ad-07b598d99345
SECONDME_CLIENT_SECRET=97e3d4023a578d0d9eb9f2bd2b08abeeabf7c49d6a6d6718e402c8d9efa62c24
SECONDME_REDIRECT_URI=http://localhost:3000/api/auth/callback
SECONDME_SCOPE=user.info chat
SECONDME_AUTH_URL=https://go.second.me/oauth/
SECONDME_TOKEN_URL=https://api.mindverse.com/gate/lab/api/oauth/token/code
SECONDME_USERINFO_URL=https://api.mindverse.com/gate/lab/api/secondme/user/info
SESSION_SECRET=UzGZ2j3OoS3UGU17bXdq3pXzJbYC-0lmPLaEyi4HocA
FRONTEND_ORIGIN=http://localhost:3000
PUBLIC_BASE_URL=http://localhost:8000
SECONDME_APP_ID=fa9db4c3-09e6-4ac9-86ad-07b598d99345
